.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: transparent;
  float: left;
  overflow: hidden;
  width: 40%;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
  background-color: rgb(0 0 0 / 15%);
  border-radius: 20px;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4; background-color: transparent;}

.recent_heading h4 {
  color: #777777;
  font-size: 21px;
  margin: auto;
}

.chat_ib h5{ font-size:15px; color:#f9fafb; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:16px; color:#f9fafb; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll; background-color:transparent;}

.active_chat{ background:transparent;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
.received_withd_msg p {
  background: #f9fafb none repeat scroll 0 0;
  border-radius: 15px;
  color: #2e2e2e;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 0px 5px 0 15px;
  width: 60%;
}

.sent_msg p {
  background: #f9fafb  none repeat scroll 0 0;
  border-radius: 15px;
  font-size: 16px;
  margin: 0; color:#2e2e2e;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border:  none;
  color: #f9fafb;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
	border-top: 1px solid #f9fafb;
	position: relative;
	}
.msg_send_btn {
  border: medium none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 44px;
}
.messaging { padding: 0 0 0 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
i{
color:#e9ecef;
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
	//vertical-align: -10.35px;
	//margin-left: -5px;
}





.css-1r0o66s{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 64px;
    min-height: 64px;
    border-bottom: 1px solid #ced4da;
    padding: 0px 20px;
    }
.css-1r0o66s .chat-header-image{
	margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reserved-wrapper{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 64px;
    padding: 0px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ced4da;
}
canvas, img, picture, svg, video{
	    display: block;
    max-width: 100%;
}
.css-1r0o66s .chat-header-profile{
	    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-1idbtsb .more-button-wrapper{
	    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}
.option-container{
	position: absolute;
    right: 195px;
    top: 210px;
    width: 200px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    line-height: 150%;
    background-color: #eaebee;
    color: #0d1e2d;
    will-change: opacity;
    animation: 0.3s ease-in 0s 1 normal none running fadeIn;
    z-index: 999;
}

.css-1idbtsb .option-container .option-item{
	    border-radius: 6px;
    padding: 10px;
}

.common-bg-hover{
	    background-position: 50%;
    cursor: pointer;
    transition: background-color .6s,background-size .6s;
}
*, :after, :before{
	    box-sizing: border-box;
}


.common-bg-hover{
	    background-position: 50%;
    cursor: pointer;
    transition: background-color .6s,background-size .6s;
}

.article-image{
	margin-right: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
canvas, img, picture, svg, video{
	    display: block;
    max-width: 100%;
}
.reserve-button{
	    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 6px;
    height: 32px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.reserved-wrapper{
	    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 64px;
    padding: 0px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ced4da;
}

#chatMessage{
    flex-direction: column;
    overflow-y: auto;
    height: 520px;
}
#message{
margin:10px;
}
.chat-header-image{
	    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.modal-content{
color: black;}


.input-group-addon {
  cursor: pointer;
}

.input-group.date {
  text-transform: uppercase;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
}
.form-control:hover, .form-control:focus, .form-control:active {
  box-shadow: none;
}
.form-control:focus {
  border: 1px solid #34495e;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  color:black;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td,
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.old, .bootstrap-datetimepicker-widget.dropdown-menu table td.new {
  color: #bbb;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.today:before {
  border-bottom-color: #0095ff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active {
  background-color: #0095ff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.active.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td.active:hover.today:before,
.bootstrap-datetimepicker-widget.dropdown-menu table td span.active.today:before {
  border-bottom-color: #fff;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th {
  height: 40px;
  padding: 0;
  width: 40px;
}
.bootstrap-datetimepicker-widget.dropdown-menu table th.picker-switch {
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table tr:first-of-type th {
  border-bottom: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td.day {
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu table td span {
  border-radius: 0;
  height: 77px;
  line-height: 77px;
  margin: 0;
  width: 25%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-months tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-years tbody tr td,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td {
  height: 27px;
  line-height: 27px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span {
  display: block;
  float: left;
  width: 50%;
  height: 46px;
  line-height: 46px !important;
  padding: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-decades tbody tr td span:not(.decade) {
  display: none;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td {
  padding: 0;
  width: 30%;
  height: 20px;
  line-height: 20px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td:nth-child(2) {
  width: 10%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td a,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span,
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  border: none;
  border-radius: 0;
  height: 56px;
  line-height: 56px;
  padding: 0;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td span {
  color: #333;
  margin-top: -1px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
}
.bootstrap-datetimepicker-widget.dropdown-menu .timepicker-picker table td button:hover {
  background-color: #eee;
}

.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td a, .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 100%;
}

.todayText:before {
  content: "Today's Date";
}


.modal{
 position: absolute;
 top: 40%;
}


